@using asp_dot_net_xss.Models;
@using System.Text.Encodings.Web;
@inject JavaScriptEncoder encoder;
@inject HtmlEncoder htmlEncoder;

@model XssResponseModel;

@section Scripts {
    <script type="text/javascript">
        var test = '@encoder.Encode(Model.Response)';
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <p>
            Yay your input passed validation it's value is: 
        </p>
        <p>
            @htmlEncoder.Encode(Model.Response)
        </p>
        <a href="@Url.Action("Index", "Home")">Back</a>
    </div>
</div>